<div class="container">
  <section class="bg-light">
    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-5 mt-5">
          <div class="card mb-3">
            <img style="height: 49rem" class="card-img img-fluid" [src]="temp.img"
                 id="product-detail">
          </div>
        </div>

        <div class="col-lg-7 mt-5">
          <div class="card" style="height:98% ">
            <div class="card-body">
              <h1 class="h2">{{temp.name}}</h1>
              <ul class="list-inline">
                <li class="list-inline-item w-25">
                  <p>Mã Sản Phẩm: </p>
                </li>
                <li class="list-inline-item w-50">
                  <p class="text-muted"><strong>{{temp.code}}</strong></p>
                </li>
                <li class="list-inline-item w-25">
                  <p>Tác Giả: </p>
                </li>
                <li class="list-inline-item w-50">
                  <p class="text-muted"><strong>{{temp.author}}</strong></p>
                </li>
                <li class="list-inline-item w-25">
                  <p>Nhà Xuất Bản: </p>
                </li>
                <li class="list-inline-item w-50">
                  <p class="text-muted"><strong>{{temp.publishingHome}}</strong></p>
                </li>
                <li class="list-inline-item w-25">
                  <p>Số Trang: </p>
                </li>
                <li class="list-inline-item w-50">
                  <p class="text-muted"><strong>{{temp.totalPage}}</strong></p>
                </li>
                <li class="list-inline-item w-25">
                  <p>Số lượng: </p>
                </li>
                <li class="list-inline-item w-50">
                  <p class="text-muted"><strong>{{temp.quantity}}</strong></p>
                </li>
                <li class="list-inline-item w-25">
                  <p>Ngày Phát Hành: </p>
                </li>
                <li class="list-inline-item w-50">
                  <p class="text-muted"><strong>{{temp.releaseDate|date:'dd/MM/yyyy'}}</strong></p>
                </li>
              </ul>

              <p>Giới Thiệu:</p>
              <p>{{temp.name}}</p>
              <p>{{temp.description}}</p>
              <div>
                <input type="hidden" name="product-title" value="Activewear">
                <div class="row">
                  <div class="col-auto" style="margin-top: 1.8rem">
                    <p class="h3 py-2 text-danger">{{temp.price | currency:'':'':'3.0'}} ₫</p>

                    <ul class="list-inline pb-3" style="margin-top: 1.8rem">
                      <li  class="list-inline-item text-right" style="font-size: 1.3rem;font-weight: 500">
                        Quantity
                        <input style="margin-left: 0.7rem" type="hidden" name="product-quanity" id="product-quanity" value="1">
                      </li>

                      <li  *ngIf="number>0" class="list-inline-item" (click)="decCard(number)"><span  class="btn btn-success" id="btn-minus">-</span></li>
                      <li class="list-inline-item"><span style="width: 3.5rem" class="btn btn-success bg-secondary"
                                                         id="var-value">{{number}}</span></li>
                      <li class="list-inline-item" (click)="incCard(number)"><span class="btn btn-success" id="btn-plus">+</span></li>
                    </ul>

                  </div>
                </div>
                <div class="row pb-3" style="margin-top: 2.5rem">
                  <div class="col d-grid">
                      <button [routerLink]="['/']" type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Quay lại</button>
                  </div>
                  <div class="col d-grid">
                    <button *ngIf="['ROLE_USER'].indexOf(role)!==-1"  (click)="addCart()" class="btn btn-success btn-lg" name="submit" value="addtocard" >Thêm vào giỏ hàng
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
