<div class="container-fluid" style="width: 80%;margin:1rem auto">
  <div class="row row-cols-2 row-cols-md-4 g-4 ">

    <div class="col">
      <div class="card h-100" style="width: 90%;margin: auto">
        <a href=""><img src="/assets/img/hinh1.jpg" class="card-img-top"  alt="..."></a>
        <div class="card-body" style="padding: 5px">
          <h5 class="card-title"> Đồi thỏ </h5>
          <p class="card-text">Sẽ có người không khỏi băn khoăn khi cầm cuốn sách khổ lớn ... </p>
          <button type="button" style="width: 100%;border-radius: 5px;margin-top: 5px" class="gio">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;margin-bottom: 5px;color: #20c26a"
                   width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill " viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              </svg>
              <span>Thêm giỏ hàng</span></div>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 90%;margin: auto">
        <a href=""><img src="/assets/img/hinh2.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body" style="padding: 5px">
          <h5 class="card-title">Tôi không thích ồn ào</h5>
          <p class="card-text">Tôi không thích ồn ào là một cuốn sách đem lại cho chúng ta cảm giác thoải mái và có tĩnh...</p>
          <button type="button" style="width: 100%;border-radius: 5px;margin-top: 14px" class="gio">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;margin-bottom: 5px;color: #20c26a"
                   width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill " viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              </svg>
              <span>Thêm giỏ hàng</span>
            </div>
          </button>
        </div>

      </div>

    </div>
    <div class="col">
      <div class="card h-100" style="width: 90%;margin: auto">
        <a href=""><img src="/assets/img/hinh4c.jpg" class="card-img-top"  alt="..."></a>
        <div class="card-body" style="padding: 5px">
          <h5 class="card-title">Bầu trời năm ấy vẫn cứ ngát xanh</h5>
          <p class="card-text">Gửi thời đẹp đẽ, đơn thuần của chúng ta!</p>
          <button type="button" style="width: 100%;border-radius: 5px;" class="gio">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;margin-bottom: 5px;color: #20c26a"
                   width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill " viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              </svg>
              <span>Thêm giỏ hàng</span></div>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 90%;margin: auto">
        <a href=""><img src="/assets/img/dung_goi_anh_la.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body" style="padding: 5px">
          <h5 class="card-title">Đi tìm lẽ sống</h5>
          <p class="card-text">Gửi thời đẹp đẽ, đơn thuần của chúng ta!</p>
          <button type="button" style="width: 100%;border-radius: 5px;" class="gio">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;margin-bottom: 5px;color: #20c26a"
                   width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill " viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              </svg>
              <span>Thêm giỏ hàng</span></div>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 90%;margin: auto">
        <a href=""><img src="/assets/img/nhung_loai_hoa_co_gai.jpg" class="card-img-top"  alt="..."></a>
        <div class="card-body" style="padding: 5px">
          <h5 class="card-title">Những loài hoa có gai</h5>
          <p class="card-text">“Gai nhọn làm đau con người, nhưng lại không dễ bị phát hiện, chúng quá giống với bạo
            lực trong xã hội hòa bình rồi.”</p>
          <button type="button" style="width: 100%;border-radius: 5px;margin-top: 13px" class="gio">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;margin-bottom: 5px;color: #20c26a"
                   width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill " viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              </svg>
              <span>Thêm giỏ hàng</span>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="width: 90%;margin: auto">
        <a href=""><img src="/assets/img/hinh4c.jpg" class="card-img-top"  alt="..."></a>
        <div class="card-body" style="padding: 5px">
          <h5 class="card-title">Bầu trời năm ấy vẫn cứ ngát xanh</h5>
          <p class="card-text">Gửi thời đẹp đẽ, đơn thuần của chúng ta!</p>
          <button type="button" style="width: 100%;border-radius: 5px;" class="gio">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;margin-bottom: 5px;color: #20c26a"
                   width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill " viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              </svg>
              <span>Thêm giỏ hàng</span>
            </div>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>


