<div class="container-fluid" style="width: 80%;margin:1rem auto">
  <div class="row row-cols-2 row-cols-md-4 g-4 ">
    <div class="col" *ngFor="let item of bookList">
      <div class="card h-100" style="width: 90%;margin: auto">
        <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
            <img style="height: 22rem" class=" img-fluid w-100 card-img-top" [src]="item.img">
            <div class="product-action">
              <a class="btn btn-light btn-square" (click)="addCart(item)"
                   matTooltip="Thêm vào giỏ hàng"><i
                class="fa fa-shopping-cart"></i></a>
              <a [routerLink]="['/show',item.id]" class="btn btn-light btn-square" matTooltip="Thông tin chi tiết"><i
                class="fa fa-info"></i></a>
              <a class="btn btn-light btn-square" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1" [routerLink]="['/update',item.id]" matTooltip="Chỉnh sửa thông tin"><i
                class="fa fa-edit"></i></a>
              <a class="btn btn-light btn-square " *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1" matTooltip="Xóa sách"
                 (click)="delete(item.id,item.name,item.author)" ><i class="fa fa-trash"></i></a>
            </div>
          </div>

        </div>
        <div class="card-body" style="padding: 5px">
          <h5 class="card-title text-center"> {{item.name}} </h5>
        </div>
      </div>
    </div>
  </div>

    <div style="height: 50px;margin-top: 0.7rem;position: relative" class="container pagination-advertisement mb-3">
      <ul class="pagination justify-content-end" style="text-align: end">

        <li class="page-item">
                <span style="margin: 0 20px 0 40px">
                 {{pageSize * page + 1}} - {{pageSize * page + numberOfElement}}
                  trên {{totalElements}}
                </span>
          <button  (click)="previousPage()" [ngStyle]="{'display':previousPageStyle}" type="button"
                  class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
          </button>
          <button (click)="nextPage()" [ngStyle]="{'display':nextPageStyle}" style="margin-left: 10px"
                  type="button"
                  class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </button>
        </li>
      </ul>
    </div>

</div>


